<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Gestão de Pacotes</title>
  </head>
  <body> 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img src="/static/img/vf_logo.png" alt="Logo da Agência" class="img-fluid" style="max-width: 4%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
          <ul class="navbar-nav">
          
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cliente.cliente') }}">|  Clientes</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('pacote.pacote') }}">Pacotes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reserva.reserva') }}">Reservas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('pacote.pacote') }}">Relatorio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


    <div class="container mt-5">
      <h1 class="text-center">Gestão de Pacotes</h1>
      <div id="form-pacote" c-container="{{ url_for('pacote.form_pacotes') }}"></div>

      <hr>

      <form id="searchFormP" class="c-form" action="{{ url_for('pacote.lista_pacotes') }}" method="get" c-target="#Lista">
        <div class="mb-3">
            <h6 class="text-center">Buscar pacotes</h6>
            <label for="nomePacote" class="form-label"></label>
            <input type="text" name="nome" id="nomePacote" class="form-control" placeholder="Digite o nome do pacote"
                   value="{{ request.args.get('nome', '') }}">
        </div>
      </form>
    
    <hr>
    <h2>Lista de pacotes</h2>
    <div id="Lista" c-container="{{ url_for('pacote.lista_pacotes') }}">

    </div>

    </div>

   
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="Exibir-pacote"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
  
  </body>
</html>
